body{
    background: url(picture.jpg)no-repeat;
    display:flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    
}
.container{
    width:49%;
    height:100%;
    font-size: 45px;
    border:10px solid greenyellow;
    border-radius: 25px;
    box-shadow: 0 0 6px greenyellow;
    background: transparent;
    margin-right: 50px;
}
h1{
    color:white;
    font-size: 100px;
    text-decoration: underline;
}
.plan{
    text-align: center;
}
h3{
    font-size: 40px;
    color:white;
    margin-left :-210px;
}
.input-container input{
    font-size:40px;
    border:5px solid honeydew;
    box-shadow: 0 0 4px greenyellow;
    border-radius: 25px;
    outline:none; 
    flex:5;
    background-color:honeydew;
    color:black;
    padding:8px 8px 8px 8px;
}
#task::placeholder{
    color:gainsboro;
    font-family:Arial, Helvetica, sans-serif;
}
#add{
    font-size: 60px;
    color:	#7FFF00;
    background-color:transparent;
    border:none;
    cursor:pointer;
    border-radius:40px;
    width:60px;
    height:70px;
    outline:none;
    position:absolute;
}
#add:hover{
    color: olivedrab;
}
.all-tasks{
    font-size:33px;
}
.task{
    color:black;
    background:linear-gradient(to right,#d3ffb8,rgb(250, 250, 165));
    border-radius:25px;
    border: none;
    outline:none;
    display:flex;
    padding:10px;
    margin-left:10%;
    margin-right: 10%;
    box-shadow:0 0 4px olivedrab;
    margin-bottom: 8px;
}
.task li{
    list-style: none;
    
}
.task .done{
    float:left;
    margin-right:8px;
    margin-left:2px;
    border:none;
    color:olivedrab;
    font-size: 45px;
}
.task .done:hover{
    background-color:transparent;
}
.task button{
    color:black;
    background-color: #d3ffb8;
    font-size: 30px;
    border:none;
}
.task button:hover{
    background-color:olivedrab;
    cursor: pointer;
}
#calendrier{
    font-size: 30px;
    border:2px solid rgb(61, 87, 9);
    background-color:#d3ffb8 ;
    color:rgb(61, 87, 9);
    border-radius: 20px;
    outline: none;
    margin:20px 20px ;
}
.delete {
    float:right;
    margin-top:20px;
    margin-bottom: 20px;
}
